mixin createPostForm(userLoggedIn)
    .postFormContainer 
        .userImageContainer 
            img(src=userLoggedIn.profilePic, alt="User's profile image")
        .textareaContainer 
            textarea#postTextarea(placeholder="what's happening today?")
            .buttonsContainer 
                button#submitPostButton(disabled="") Post

mixin createReplyModal(userLoggedIn)
    // Modal
    #replyModal.modal.fade(tabindex='-1', aria-labelledby='replyModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#replyModalLabel.modal-title Reply
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    #originalPostContainer
                    .postFormContainer 
                        .userImageContainer 
                            img(src=userLoggedIn.profilePic, alt="User's profile image")
                        .textareaContainer 
                            textarea#replyTextarea(placeholder="what's happening today?")

                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                    button#submitReplyButton.btn.btn-primary(type='button',disabled="") reply

mixin createDeletePostModal(userLoggedIn)
    // Modal
    #deletePostModal.modal.fade(tabindex='-1', aria-labelledby='deletePostModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#deletePostModalLabel.modal-title Delete
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    p You won't be able to delete this.
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Close
                    button#deletePostButton.btn.btn-primary(type='button') delete


mixin createPostModals()
    +createReplyModal(userLoggedIn)
    +createDeletePostModal()
    +createpinPostButtonModal()
    +createunPinPostButtonModal()

mixin createFollowButton(user, isFollowing)
    - text = isFollowing ? "Following" : "Follow"
    - buttonClass = isFollowing ? "followButton following" : "followButton"
    button(class = buttonClass, data-user=user._id) #{text}

mixin createTab(name, href, isSelected)
    - className = isSelected ? "tab active": "tab"
    a(href=href, class=className) 
        span #{name}


mixin createImageUploadModal()
    // Modal
    #ImageUploadModal.modal.fade(tabindex='-1', aria-labelledby='ImageUploadModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#ImageUploadModalLabel.modal-title Upload New Profile Picture
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    input#filePhoto(type="file", name="filePhoto")
                    .imagePreviewContaienr 
                        img#imagePreview(src="", alt="")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button#ImageUploadButton.btn.btn-primary(type='button') Save
mixin createCoverUploadModal()
    // Modal
    #coverPhotoUploadModal.modal.fade(tabindex='-1', aria-labelledby='ImageUploadModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#coverPhotoModalLabel.modal-title Upload New Cover Picture
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    input#coverPhoto(type="file", name="filePhoto")
                    .coverPhotoPreviewContaienr 
                        img#coverPreview(src="", alt="")
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button#coverPhotoButton.btn.btn-primary(type='button') Save

mixin createpinPostButtonModal()
    // Modal
    #pinPostModal.modal.fade(tabindex='-1', aria-labelledby='ImageUploadModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#pinPostModalLabel.modal-title Do you want to pin the post ?
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    p this post will appear at the top of profile
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button#pinPostButton.btn.btn-primary(type='button') yes

mixin createunPinPostButtonModal()
    // Modal
    #unPinPostModal.modal.fade(tabindex='-1', aria-labelledby='ImageUploadModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#unPinPostModalLabel.modal-title  Unpin the post ?
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    p Unpin the post
                .modal-footer
                    button.btn.btn-secondary(type='button', data-bs-dismiss='modal') Cancel
                    button#unPinPostButton.btn.btn-primary(type='button') yes

mixin createChatImage(chatData, userLoggedIn)
    if(!chatData)
        return 

    - let i = 0
    - let maxImagesToShow = 4
    - let remainingUsers = chatData.users.length - maxImagesToShow 
    - remainingUsers-- // remove one since we won't show our own img

    .chatImagesContainer 
        if remainingUsers > 0
            .userCount 
                span +#{remainingUsers}

        each user in chatData.users 
            if chatData.users.length != 1 && user._id == userLoggedIn._id 
                - continue
            else if i >= imaxImageToShow 
                - break
            img(src=user.profilePic, alt="User Profile pic", title=user.firstName)
            - i++